.inputFocus {
  box-shadow: rgb(31, 31, 31) 0px -2px 0px inset !important;
}

button {
  border-width: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.findButton:hover {
  background: #609c4f !important;
}

.topTransition {
  webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  transition: transform 500ms;
  transform-origin: right;
}
.showInput {
  transform: scaleX(0);
}
.notShowInput {
  transform: scaleX(1);
}

.carousel {
  -webkit-transition: transform 333ms ease-out;
  -moz-transition: transform 333ms ease-out;
  transition: transform 333ms ease-out;
}
.nomg {
  margin: 0;
}

.navBarBox {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 95%;
  }
  .notShowTopNav {
    display: none;
  }
  #stickyNav {
    position: relative !important;
  }
}
@media only screen and (max-width: 435px) {
  .mainSm {
    width: 90% !important;
    margin: auto !important;
    padding-bottom: 5px;
  }
  .mainSmParent {
    flex-direction: column !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 84%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 84%;
  }
  .cardSize {
    flex-basis: calc(50% - 10px) !important;
  }
  .middleCards {
    width: 70% !important;
    margin: auto;
    margin-bottom: 15px;
  }
  .middleCards p {
    text-align: center !important;
  }
  .middleCardsParent {
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 570px) {
  .wrapper {
    width: 90%;
  }
  .cardSize {
    flex-basis: calc(85% - 10px) !important;
  }
  .carouselParent {
    overflow: auto !important;
  }
  .carouselButton {
    display: none !important;
  }
  .gridCities {
    grid-template-columns: auto auto auto !important;
  }
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

*:focus {
  outline: none;
}

.boxShadowTrans {
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}
.middleLink {
  color: #247a00;
  cursor: pointer;
  margin-top: 8px;
  line-height: 24px;
  font-size: 16px;
}
.middleLink:hover {
  text-decoration: underline;
}
.footerLink:hover {
  text-decoration: underline;
}

.gridCities {
  grid-template-columns: auto auto auto auto;
}

.showSecondNav {
  display: block !important;
}
